body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* HEADER SECTION */

.header-container {
    background-color: #1f2937;
}

.header {
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 16px 16px 0;
}

.header-top {
    display: flex;
    gap: 32px;
    margin-bottom: 48px;
    align-items: baseline;
}

.header-bottom {
    display: flex;
    margin-bottom: 64px;
    justify-content: space-between;
}

.header-logo {
    margin-right: auto;
    font-size: 24px;
}

.bottom-text,
.image-header {
    flex-basis: 390px; /* Maybe change to width later */
}

.image-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(109, 114, 124);
}

.header-button {
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 5px;
    border: 0;
    font-weight: bold;
    padding: 4px 24px;
    margin-top: 10px;
}

.header-text-big {
    font-size: 48px;
    font-weight: 900;
}

.header-link,
.header-text-small {
    font-size: 18px;
    color: #e5e7eb;
}


/* CONTENT SECTION */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 32px 64px 32px;
}

.content-header {
    color: #1f2937;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 42px;
}

.content-item-container {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
}

.content-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 170px;
}

.content-image {
    box-sizing: border-box;
    height: 170px;
    border: solid #3882f6 4px;
    border-radius: 16px;
    object-fit: cover;
}

.content-info {
    text-align: center;
    margin: 0 4px;
}

/* QUOTE SECTION */

.quote-container {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
}

.quote-author {
    align-self: flex-end;
}
